name: Algo Academy Deploy using AWS SSM Send-Command 

on:
    push:
        branches: [master]

jobs:
    start:
        runs-on: ubuntu-latest 

        steps:
            - uses: actions/checkout@v2

            - name: AWS SSM Send Command
              uses: peterkimzz/aws-ssm-send-command@1.0.1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID  }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY  }}
                  aws-region: us-east-2
                  instance-ids: ${{ secrets.INSTANCE_ID  }}
                  comment: Deploy algoacademy master 
                  working-directory: /home/ubuntu/mern-app
                  command: /bin/sh deploy.sh
